{% for switch, config in leafs | items %}
Device "{{ switch }}" MLAG Configuration:
!
{%     if config.mlag_configuration is defined and config.mlag_configuration is not none %}
mlag configuration
{%         set mlag_config = config.mlag_configuration %}
{%         if mlag_config.domain_id is defined and mlag_config.domain_id is not none %}
   domain-id {{ mlag_config.domain_id | upper }}
{%         endif %}
{%         if mlag_config.local_interface is defined and mlag_config.local_interface is not none %}
   local-interface {{ mlag_config.local_interface | lower | capitalize }}
{%         endif %}
{%         if mlag_config.peer_address is defined and mlag_config.peer_address is not none %}
   peer-address {{ mlag_config.peer_address }}
{%         endif %}
{%         if mlag_config.peer_link is defined and mlag_config.peer_link is not none %}
   peer-link {{ mlag_config.peer_link | lower | capitalize }}
{%         endif %}
{%     endif %}
!

{% endfor %}